 # 01_Extract (E)

In [ ]:
import pandas as pd 
import json 
import glob 
import requests

## Read CSV

In [ ]:
df_csv = pd.read_csv("data/simple_users.csv")

In [ ]:
df_csv

   id    name               email  age
0   1     Ana     ana@example.com   23
1   2  Carlos  carlos@example.com   31
2   3   Lucía   lucia@example.com   27
3   4   Pedro   pedro@example.com   44
4   5   María   maria@example.com   19

In [ ]:
df_csv.columns

Index(['id', 'name', 'email', 'age'], dtype='object')

In [ ]:
df_csv.shape

(5, 4)

In [ ]:
df_csv.head()

   id    name               email  age
0   1     Ana     ana@example.com   23
1   2  Carlos  carlos@example.com   31
2   3   Lucía   lucia@example.com   27
3   4   Pedro   pedro@example.com   44
4   5   María   maria@example.com   19

## Select CSV columns

In [ ]:
df_2columns = susers[["name","email"]]

In [ ]:
df_2columns

     name               email
0     Ana     ana@example.com
1  Carlos  carlos@example.com
2   Lucía   lucia@example.com
3   Pedro   pedro@example.com
4   María   maria@example.com

In [ ]:
df_2columns.head(3)

     name               email
0     Ana     ana@example.com
1  Carlos  carlos@example.com
2   Lucía   lucia@example.com

## Read JSON

In [ ]:
df_json = pd.read_json("data/simple_users.json")
df_json

   id    name               email  age
0   1     Ana     ana@example.com   23
1   2  Carlos  carlos@example.com   31
2   3   Lucía   lucia@example.com   27
3   4   Pedro   pedro@example.com   44
4   5   María   maria@example.com   19

In [ ]:
df_json.head(2)

   id    name               email  age
0   1     Ana     ana@example.com   23
1   2  Carlos  carlos@example.com   31

In [ ]:
df_json.columns

Index(['id', 'name', 'email', 'age'], dtype='object')

In [ ]:
df_json.shape

(5, 4)

## Read JSON Lines

In [ ]:
df_jsonl = pd.read_json("data/api_sample.jsonl", lines=True)
df_jsonl

     name  height  weight
0     Ana     165      55
1  Carlos     178      80
2   Lucía     160      48
3   Pedro     175      90
4   María     158      50

In [ ]:
df_jsonl.head(1)

  name  height  weight
0  Ana     165      55

In [ ]:
df_jsonl.columns

Index(['name', 'height', 'weight'], dtype='object')

In [ ]:
df_json.shape

(5, 4)

## Detect Null Values

In [ ]:
print("CSV NULLS:")
df_csv.isna().sum()

CSV NULLS:

id       0
name     0
email    0
age      0
dtype: int64

In [ ]:
print("JSON NULLS:")
df_json.isna().sum()

JSON NULLS:

id       0
name     0
email    0
age      0
dtype: int64

In [ ]:
print("JSONL NULLS:")
df_jsonl.isna().sum()

JSONL NULLS:

name      0
height    0
weight    0
dtype: int64

## Glob To Search For CSV Files

In [ ]:
csv_files = glob.glob("data/*.csv")
csv_files

['products.csv', 'simple_users.csv']

In [ ]:
len(csv_files)

2

## Combine CSV

In [ ]:
combined_csv = pd.DataFrame()

In [ ]:
for file in csv_files:
    readd = pd.read_csv(file)
    shappe = readd.shape
    print(shappe)
    combined_csv= pd.concat([combined_csv, readd], ignore_index=True)

(3, 3)
(5, 4)

In [ ]:
combined_csv

    product   price  stock   id    name               email   age
0    Laptop  1200.0   10.0  NaN     NaN                 NaN   NaN
1     Mouse    25.0  200.0  NaN     NaN                 NaN   NaN
2  Keyboard    75.0  150.0  NaN     NaN                 NaN   NaN
3       NaN     NaN    NaN  1.0     Ana     ana@example.com  23.0
4       NaN     NaN    NaN  2.0  Carlos  carlos@example.com  31.0
5       NaN     NaN    NaN  3.0   Lucía   lucia@example.com  27.0
6       NaN     NaN    NaN  4.0   Pedro   pedro@example.com  44.0
7       NaN     NaN    NaN  5.0   María   maria@example.com  19.0

In [ ]:
combined_csv.head()

    product   price  stock   id    name               email   age
0    Laptop  1200.0   10.0  NaN     NaN                 NaN   NaN
1     Mouse    25.0  200.0  NaN     NaN                 NaN   NaN
2  Keyboard    75.0  150.0  NaN     NaN                 NaN   NaN
3       NaN     NaN    NaN  1.0     Ana     ana@example.com  23.0
4       NaN     NaN    NaN  2.0  Carlos  carlos@example.com  31.0

# Extract Phase (E) – API Data

In [ ]:
rquest = requests.get("https://dummyjson.com/users?limit=5")

In [ ]:
data = rquest.json()

In [ ]:
data

{'users': [{'id': 1,
   'firstName': 'Emily',
   'lastName': 'Johnson',
   'maidenName': 'Smith',
   'age': 29,
   'gender': 'female',
   'email': 'emily.johnson@x.dummyjson.com',
   'phone': '+81 965-431-3024',
   'username': 'emilys',
   'password': 'emilyspass',
   'birthDate': '1996-5-30',
   'image': 'https://dummyjson.com/icon/emilys/128',
   'bloodGroup': 'O-',
   'height': 193.24,
   'weight': 63.16,
   'eyeColor': 'Green',
   'hair': {'color': 'Brown', 'type': 'Curly'},
   'ip': '42.48.100.32',
   'address': {'address': '626 Main Street',
    'city': 'Phoenix',
    'state': 'Mississippi',
    'stateCode': 'MS',
    'postalCode': '29112',
    'coordinates': {'lat': -77.16213, 'lng': -92.084824},
    'country': 'United States'},
   'macAddress': '47:fa:41:18:ec:eb',
   'university': 'University of Wisconsin--Madison',
   'bank': {'cardExpire': '05/28',
    'cardNumber': '3693233511855044',
    'cardType': 'Diners Club International',
    'currency': 'GBP',
    'iban': 'GB74MH2UZLR9TRPHYNU8F8'},
   'company': {'department': 'Engineering',
    'name': 'Dooley, Kozey and Cronin',
    'title': 'Sales Manager',
    'address': {'address': '263 Tenth Street',
     'city': 'San Francisco',
     'state': 'Wisconsin',
     'stateCode': 'WI',
     'postalCode': '37657',
     'coordinates': {'lat': 71.814525, 'lng': -161.150263},
     'country': 'United States'}},
   'ein': '977-175',
   'ssn': '900-590-289',
   'userAgent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.93 Safari/537.36',
   'crypto': {'coin': 'Bitcoin',
    'wallet': '0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a',
    'network': 'Ethereum (ERC20)'},
   'role': 'admin'},
  {'id': 2,
   'firstName': 'Michael',
   'lastName': 'Williams',
   'maidenName': '',
   'age': 36,
   'gender': 'male',
   'email': 'michael.williams@x.dummyjson.com',
   'phone': '+49 258-627-6644',
   'username': 'michaelw',
   'password': 'michaelwpass',
   'birthDate': '1989-8-10',
   'image': 'https://dummyjson.com/icon/michaelw/128',
   'bloodGroup': 'B+',
   'height': 186.22,
   'weight': 76.32,
   'eyeColor': 'Red',
   'hair': {'color': 'Green', 'type': 'Straight'},
   'ip': '12.13.116.142',
   'address': {'address': '385 Fifth Street',
    'city': 'Houston',
    'state': 'Alabama',
    'stateCode': 'AL',
    'postalCode': '38807',
    'coordinates': {'lat': 22.815468, 'lng': 115.608581},
    'country': 'United States'},
   'macAddress': '79:15:78:99:60:aa',
   'university': 'Ohio State University',
   'bank': {'cardExpire': '01/30',
    'cardNumber': '3530633803003665',
    'cardType': 'JCB',
    'currency': 'USD',
    'iban': 'DE26362283149158045865'},
   'company': {'department': 'Support',
    'name': 'Spinka - Dickinson',
    'title': 'Support Specialist',
    'address': {'address': '395 Main Street',
     'city': 'Los Angeles',
     'state': 'New Hampshire',
     'stateCode': 'NH',
     'postalCode': '73442',
     'coordinates': {'lat': 79.098326, 'lng': -119.624845},
     'country': 'United States'}},
   'ein': '912-602',
   'ssn': '108-953-962',
   'userAgent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Edge/97.0.1072.76 Safari/537.36',
   'crypto': {'coin': 'Bitcoin',
    'wallet': '0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a',
    'network': 'Ethereum (ERC20)'},
   'role': 'admin'},
  {'id': 3,
   'firstName': 'Sophia',
   'lastName': 'Brown',
   'maidenName': '',
   'age': 43,
   'gender': 'female',
   'email': 'sophia.brown@x.dummyjson.com',
   'phone': '+81 210-652-2785',
   'username': 'sophiab',
   'password': 'sophiabpass',
   'birthDate': '1982-11-6',
   'image': 'https://dummyjson.com/icon/sophiab/128',
   'bloodGroup': 'O-',
   'height': 177.72,
   'weight': 52.6,
   'eyeColor': 'Hazel',
   'hair': {'color': 'White', 'type': 'Wavy'},
   'ip': '214.225.51.195',
   'address': {'address': '1642 Ninth Street',
    'city': 'Washington',
    'state': 'Alabama',
    'stateCode': 'AL',
    'postalCode': '32822',
    'coordinates': {'lat': 45.289366, 'lng': 46.832664},
    'country': 'United States'},
   'macAddress': '12:a3:d3:6f:5c:5b',
   'university': 'Pepperdine University',
   'bank': {'cardExpire': '10/27',
    'cardNumber': '6011212053392887',
    'cardType': 'Discover',
    'currency': 'EUR',
    'iban': 'DE12191213468288004835'},
   'company': {'department': 'Research and Development',
    'name': 'Schiller - Zieme',
    'title': 'Accountant',
    'address': {'address': '1896 Washington Street',
     'city': 'Dallas',
     'state': 'Nevada',
     'stateCode': 'NV',
     'postalCode': '88511',
     'coordinates': {'lat': 20.086743, 'lng': -34.577107},
     'country': 'United States'}},
   'ein': '963-113',
   'ssn': '638-461-822',
   'userAgent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.45 Safari/537.36',
   'crypto': {'coin': 'Bitcoin',
    'wallet': '0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a',
    'network': 'Ethereum (ERC20)'},
   'role': 'admin'},
  {'id': 4,
   'firstName': 'James',
   'lastName': 'Davis',
   'maidenName': '',
   'age': 46,
   'gender': 'male',
   'email': 'james.davis@x.dummyjson.com',
   'phone': '+49 614-958-9364',
   'username': 'jamesd',
   'password': 'jamesdpass',
   'birthDate': '1979-5-4',
   'image': 'https://dummyjson.com/icon/jamesd/128',
   'bloodGroup': 'AB+',
   'height': 193.31,
   'weight': 62.1,
   'eyeColor': 'Amber',
   'hair': {'color': 'Blonde', 'type': 'Straight'},
   'ip': '101.118.131.66',
   'address': {'address': '238 Jefferson Street',
    'city': 'Seattle',
    'state': 'Pennsylvania',
    'stateCode': 'PA',
    'postalCode': '68354',
    'coordinates': {'lat': 16.782513, 'lng': -139.34723},
    'country': 'United States'},
   'macAddress': '10:7d:df:1f:97:58',
   'university': 'University of Southern California',
   'bank': {'cardExpire': '07/30',
    'cardNumber': '5303440212268149',
    'cardType': 'Mastercard',
    'currency': 'CAD',
    'iban': 'DE01300746880579852937'},
   'company': {'department': 'Support',
    'name': 'Pagac and Sons',
    'title': 'Research Analyst',
    'address': {'address': '1622 Lincoln Street',
     'city': 'Fort Worth',
     'state': 'Pennsylvania',
     'stateCode': 'PA',
     'postalCode': '27768',
     'coordinates': {'lat': 54.91193, 'lng': -79.498328},
     'country': 'United States'}},
   'ein': '904-810',
   'ssn': '116-951-314',
   'userAgent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/97.0.4692.99 Safari/537.36',
   'crypto': {'coin': 'Bitcoin',
    'wallet': '0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a',
    'network': 'Ethereum (ERC20)'},
   'role': 'admin'},
  {'id': 5,
   'firstName': 'Emma',
   'lastName': 'Miller',
   'maidenName': 'Johnson',
   'age': 31,
   'gender': 'female',
   'email': 'emma.miller@x.dummyjson.com',
   'phone': '+91 759-776-1614',
   'username': 'emmaj',
   'password': 'emmajpass',
   'birthDate': '1994-6-13',
   'image': 'https://dummyjson.com/icon/emmaj/128',
   'bloodGroup': 'AB-',
   'height': 192.8,
   'weight': 63.62,
   'eyeColor': 'Green',
   'hair': {'color': 'White', 'type': 'Straight'},
   'ip': '224.126.22.183',
   'address': {'address': '607 Fourth Street',
    'city': 'Jacksonville',
    'state': 'Colorado',
    'stateCode': 'CO',
    'postalCode': '26593',
    'coordinates': {'lat': 0.505589, 'lng': -157.43281},
    'country': 'United States'},
   'macAddress': '32:b9:7e:8d:f5:e8',
   'university': 'Northeastern University',
   'bank': {'cardExpire': '07/30',
    'cardNumber': '5237188057591130',
    'cardType': 'Mastercard',
    'currency': 'NZD',
    'iban': 'DE19182355652037133559'},
   'company': {'department': 'Human Resources',
    'name': 'Graham - Gulgowski',
    'title': 'Quality Assurance Engineer',
    'address': {'address': '1460 Sixth Street',
     'city': 'San Antonio',
     'state': 'Idaho',
     'stateCode': 'ID',
     'postalCode': '21965',
     'coordinates': {'lat': 44.346545, 'lng': -26.944701},
     'country': 'United States'}},
   'ein': '403-505',
   'ssn': '526-210-885',
   'userAgent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:97.0) Gecko/20100101 Firefox/97.0',
   'crypto': {'coin': 'Bitcoin',
    'wallet': '0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a',
    'network': 'Ethereum (ERC20)'},
   'role': 'admin'}],
 'total': 208,
 'skip': 0,
 'limit': 5}

In [ ]:
users = data["users"]

In [ ]:
users

[{'id': 1,
  'firstName': 'Emily',
  'lastName': 'Johnson',
  'maidenName': 'Smith',
  'age': 29,
  'gender': 'female',
  'email': 'emily.johnson@x.dummyjson.com',
  'phone': '+81 965-431-3024',
  'username': 'emilys',
  'password': 'emilyspass',
  'birthDate': '1996-5-30',
  'image': 'https://dummyjson.com/icon/emilys/128',
  'bloodGroup': 'O-',
  'height': 193.24,
  'weight': 63.16,
  'eyeColor': 'Green',
  'hair': {'color': 'Brown', 'type': 'Curly'},
  'ip': '42.48.100.32',
  'address': {'address': '626 Main Street',
   'city': 'Phoenix',
   'state': 'Mississippi',
   'stateCode': 'MS',
   'postalCode': '29112',
   'coordinates': {'lat': -77.16213, 'lng': -92.084824},
   'country': 'United States'},
  'macAddress': '47:fa:41:18:ec:eb',
  'university': 'University of Wisconsin--Madison',
  'bank': {'cardExpire': '05/28',
   'cardNumber': '3693233511855044',
   'cardType': 'Diners Club International',
   'currency': 'GBP',
   'iban': 'GB74MH2UZLR9TRPHYNU8F8'},
  'company': {'department': 'Engineering',
   'name': 'Dooley, Kozey and Cronin',
   'title': 'Sales Manager',
   'address': {'address': '263 Tenth Street',
    'city': 'San Francisco',
    'state': 'Wisconsin',
    'stateCode': 'WI',
    'postalCode': '37657',
    'coordinates': {'lat': 71.814525, 'lng': -161.150263},
    'country': 'United States'}},
  'ein': '977-175',
  'ssn': '900-590-289',
  'userAgent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.93 Safari/537.36',
  'crypto': {'coin': 'Bitcoin',
   'wallet': '0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a',
   'network': 'Ethereum (ERC20)'},
  'role': 'admin'},
 {'id': 2,
  'firstName': 'Michael',
  'lastName': 'Williams',
  'maidenName': '',
  'age': 36,
  'gender': 'male',
  'email': 'michael.williams@x.dummyjson.com',
  'phone': '+49 258-627-6644',
  'username': 'michaelw',
  'password': 'michaelwpass',
  'birthDate': '1989-8-10',
  'image': 'https://dummyjson.com/icon/michaelw/128',
  'bloodGroup': 'B+',
  'height': 186.22,
  'weight': 76.32,
  'eyeColor': 'Red',
  'hair': {'color': 'Green', 'type': 'Straight'},
  'ip': '12.13.116.142',
  'address': {'address': '385 Fifth Street',
   'city': 'Houston',
   'state': 'Alabama',
   'stateCode': 'AL',
   'postalCode': '38807',
   'coordinates': {'lat': 22.815468, 'lng': 115.608581},
   'country': 'United States'},
  'macAddress': '79:15:78:99:60:aa',
  'university': 'Ohio State University',
  'bank': {'cardExpire': '01/30',
   'cardNumber': '3530633803003665',
   'cardType': 'JCB',
   'currency': 'USD',
   'iban': 'DE26362283149158045865'},
  'company': {'department': 'Support',
   'name': 'Spinka - Dickinson',
   'title': 'Support Specialist',
   'address': {'address': '395 Main Street',
    'city': 'Los Angeles',
    'state': 'New Hampshire',
    'stateCode': 'NH',
    'postalCode': '73442',
    'coordinates': {'lat': 79.098326, 'lng': -119.624845},
    'country': 'United States'}},
  'ein': '912-602',
  'ssn': '108-953-962',
  'userAgent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Edge/97.0.1072.76 Safari/537.36',
  'crypto': {'coin': 'Bitcoin',
   'wallet': '0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a',
   'network': 'Ethereum (ERC20)'},
  'role': 'admin'},
 {'id': 3,
  'firstName': 'Sophia',
  'lastName': 'Brown',
  'maidenName': '',
  'age': 43,
  'gender': 'female',
  'email': 'sophia.brown@x.dummyjson.com',
  'phone': '+81 210-652-2785',
  'username': 'sophiab',
  'password': 'sophiabpass',
  'birthDate': '1982-11-6',
  'image': 'https://dummyjson.com/icon/sophiab/128',
  'bloodGroup': 'O-',
  'height': 177.72,
  'weight': 52.6,
  'eyeColor': 'Hazel',
  'hair': {'color': 'White', 'type': 'Wavy'},
  'ip': '214.225.51.195',
  'address': {'address': '1642 Ninth Street',
   'city': 'Washington',
   'state': 'Alabama',
   'stateCode': 'AL',
   'postalCode': '32822',
   'coordinates': {'lat': 45.289366, 'lng': 46.832664},
   'country': 'United States'},
  'macAddress': '12:a3:d3:6f:5c:5b',
  'university': 'Pepperdine University',
  'bank': {'cardExpire': '10/27',
   'cardNumber': '6011212053392887',
   'cardType': 'Discover',
   'currency': 'EUR',
   'iban': 'DE12191213468288004835'},
  'company': {'department': 'Research and Development',
   'name': 'Schiller - Zieme',
   'title': 'Accountant',
   'address': {'address': '1896 Washington Street',
    'city': 'Dallas',
    'state': 'Nevada',
    'stateCode': 'NV',
    'postalCode': '88511',
    'coordinates': {'lat': 20.086743, 'lng': -34.577107},
    'country': 'United States'}},
  'ein': '963-113',
  'ssn': '638-461-822',
  'userAgent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.45 Safari/537.36',
  'crypto': {'coin': 'Bitcoin',
   'wallet': '0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a',
   'network': 'Ethereum (ERC20)'},
  'role': 'admin'},
 {'id': 4,
  'firstName': 'James',
  'lastName': 'Davis',
  'maidenName': '',
  'age': 46,
  'gender': 'male',
  'email': 'james.davis@x.dummyjson.com',
  'phone': '+49 614-958-9364',
  'username': 'jamesd',
  'password': 'jamesdpass',
  'birthDate': '1979-5-4',
  'image': 'https://dummyjson.com/icon/jamesd/128',
  'bloodGroup': 'AB+',
  'height': 193.31,
  'weight': 62.1,
  'eyeColor': 'Amber',
  'hair': {'color': 'Blonde', 'type': 'Straight'},
  'ip': '101.118.131.66',
  'address': {'address': '238 Jefferson Street',
   'city': 'Seattle',
   'state': 'Pennsylvania',
   'stateCode': 'PA',
   'postalCode': '68354',
   'coordinates': {'lat': 16.782513, 'lng': -139.34723},
   'country': 'United States'},
  'macAddress': '10:7d:df:1f:97:58',
  'university': 'University of Southern California',
  'bank': {'cardExpire': '07/30',
   'cardNumber': '5303440212268149',
   'cardType': 'Mastercard',
   'currency': 'CAD',
   'iban': 'DE01300746880579852937'},
  'company': {'department': 'Support',
   'name': 'Pagac and Sons',
   'title': 'Research Analyst',
   'address': {'address': '1622 Lincoln Street',
    'city': 'Fort Worth',
    'state': 'Pennsylvania',
    'stateCode': 'PA',
    'postalCode': '27768',
    'coordinates': {'lat': 54.91193, 'lng': -79.498328},
    'country': 'United States'}},
  'ein': '904-810',
  'ssn': '116-951-314',
  'userAgent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/97.0.4692.99 Safari/537.36',
  'crypto': {'coin': 'Bitcoin',
   'wallet': '0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a',
   'network': 'Ethereum (ERC20)'},
  'role': 'admin'},
 {'id': 5,
  'firstName': 'Emma',
  'lastName': 'Miller',
  'maidenName': 'Johnson',
  'age': 31,
  'gender': 'female',
  'email': 'emma.miller@x.dummyjson.com',
  'phone': '+91 759-776-1614',
  'username': 'emmaj',
  'password': 'emmajpass',
  'birthDate': '1994-6-13',
  'image': 'https://dummyjson.com/icon/emmaj/128',
  'bloodGroup': 'AB-',
  'height': 192.8,
  'weight': 63.62,
  'eyeColor': 'Green',
  'hair': {'color': 'White', 'type': 'Straight'},
  'ip': '224.126.22.183',
  'address': {'address': '607 Fourth Street',
   'city': 'Jacksonville',
   'state': 'Colorado',
   'stateCode': 'CO',
   'postalCode': '26593',
   'coordinates': {'lat': 0.505589, 'lng': -157.43281},
   'country': 'United States'},
  'macAddress': '32:b9:7e:8d:f5:e8',
  'university': 'Northeastern University',
  'bank': {'cardExpire': '07/30',
   'cardNumber': '5237188057591130',
   'cardType': 'Mastercard',
   'currency': 'NZD',
   'iban': 'DE19182355652037133559'},
  'company': {'department': 'Human Resources',
   'name': 'Graham - Gulgowski',
   'title': 'Quality Assurance Engineer',
   'address': {'address': '1460 Sixth Street',
    'city': 'San Antonio',
    'state': 'Idaho',
    'stateCode': 'ID',
    'postalCode': '21965',
    'coordinates': {'lat': 44.346545, 'lng': -26.944701},
    'country': 'United States'}},
  'ein': '403-505',
  'ssn': '526-210-885',
  'userAgent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:97.0) Gecko/20100101 Firefox/97.0',
  'crypto': {'coin': 'Bitcoin',
   'wallet': '0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a',
   'network': 'Ethereum (ERC20)'},
  'role': 'admin'}]

In [ ]:
df_api = pd.DataFrame(users)

In [ ]:
df_api

,id,firstName,lastName,maidenName,age,gender,email,phone,username,password,...,address,macAddress,university,bank,company,ein,ssn,userAgent,crypto,role
0,1,Emily,Johnson,Smith,29,female,emily.johnson@x.dummyjson.com,+81 965-431-3024,emilys,emilyspass,...,"{'address': '626 Main Street', 'city': 'Phoeni...",47:fa:41:18:ec:eb,University of Wisconsin--Madison,"{'cardExpire': '05/28', 'cardNumber': '3693233...","{'department': 'Engineering', 'name': 'Dooley,...",977-175,900-590-289,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,"{'coin': 'Bitcoin', 'wallet': '0xb9fc2fe63b2a6...",admin
1,2,Michael,Williams,,36,male,michael.williams@x.dummyjson.com,+49 258-627-6644,michaelw,michaelwpass,...,"{'address': '385 Fifth Street', 'city': 'Houst...",79:15:78:99:60:aa,Ohio State University,"{'cardExpire': '01/30', 'cardNumber': '3530633...","{'department': 'Support', 'name': 'Spinka - Di...",912-602,108-953-962,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,"{'coin': 'Bitcoin', 'wallet': '0xb9fc2fe63b2a6...",admin
2,3,Sophia,Brown,,43,female,sophia.brown@x.dummyjson.com,+81 210-652-2785,sophiab,sophiabpass,...,"{'address': '1642 Ninth Street', 'city': 'Wash...",12:a3:d3:6f:5c:5b,Pepperdine University,"{'cardExpire': '10/27', 'cardNumber': '6011212...","{'department': 'Research and Development', 'na...",963-113,638-461-822,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,"{'coin': 'Bitcoin', 'wallet': '0xb9fc2fe63b2a6...",admin
3,4,James,Davis,,46,male,james.davis@x.dummyjson.com,+49 614-958-9364,jamesd,jamesdpass,...,"{'address': '238 Jefferson Street', 'city': 'S...",10:7d:df:1f:97:58,University of Southern California,"{'cardExpire': '07/30', 'cardNumber': '5303440...","{'department': 'Support', 'name': 'Pagac and S...",904-810,116-951-314,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,"{'coin': 'Bitcoin', 'wallet': '0xb9fc2fe63b2a6...",admin
4,5,Emma,Miller,Johnson,31,female,emma.miller@x.dummyjson.com,+91 759-776-1614,emmaj,emmajpass,...,"{'address': '607 Fourth Street', 'city': 'Jack...",32:b9:7e:8d:f5:e8,Northeastern University,"{'cardExpire': '07/30', 'cardNumber': '5237188...","{'department': 'Human Resources', 'name': 'Gra...",403-505,526-210-885,Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:9...,"{'coin': 'Bitcoin', 'wallet': '0xb9fc2fe63b2a6...",admin

In [ ]:
df_api.head(2)

,id,firstName,lastName,maidenName,age,gender,email,phone,username,password,...,address,macAddress,university,bank,company,ein,ssn,userAgent,crypto,role
0,1,Emily,Johnson,Smith,29,female,emily.johnson@x.dummyjson.com,+81 965-431-3024,emilys,emilyspass,...,"{'address': '626 Main Street', 'city': 'Phoeni...",47:fa:41:18:ec:eb,University of Wisconsin--Madison,"{'cardExpire': '05/28', 'cardNumber': '3693233...","{'department': 'Engineering', 'name': 'Dooley,...",977-175,900-590-289,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,"{'coin': 'Bitcoin', 'wallet': '0xb9fc2fe63b2a6...",admin
1,2,Michael,Williams,,36,male,michael.williams@x.dummyjson.com,+49 258-627-6644,michaelw,michaelwpass,...,"{'address': '385 Fifth Street', 'city': 'Houst...",79:15:78:99:60:aa,Ohio State University,"{'cardExpire': '01/30', 'cardNumber': '3530633...","{'department': 'Support', 'name': 'Spinka - Di...",912-602,108-953-962,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,"{'coin': 'Bitcoin', 'wallet': '0xb9fc2fe63b2a6...",admin

## Select And Save Columns From The API

In [ ]:
df_api_short = df_api[["firstName", "lastName", "age", "email"]]

In [ ]:
df_api_short

  firstName  lastName  age                             email
0     Emily   Johnson   29     emily.johnson@x.dummyjson.com
1   Michael  Williams   36  michael.williams@x.dummyjson.com
2    Sophia     Brown   43      sophia.brown@x.dummyjson.com
3     James     Davis   46       james.davis@x.dummyjson.com
4      Emma    Miller   31       emma.miller@x.dummyjson.com

## Create An Extract Dictionary

In [ ]:
 extracted_data = {
    "csv": df_csv,
    "json": df_json,
    "jsonl": df_jsonl,
    "combined_csv": combined_csv,
    "api_users": df_api
 }

In [ ]:
extracted_data

{'csv':    id    name               email  age
 0   1     Ana     ana@example.com   23
 1   2  Carlos  carlos@example.com   31
 2   3   Lucía   lucia@example.com   27
 3   4   Pedro   pedro@example.com   44
 4   5   María   maria@example.com   19,
 'json':    id    name               email  age
 0   1     Ana     ana@example.com   23
 1   2  Carlos  carlos@example.com   31
 2   3   Lucía   lucia@example.com   27
 3   4   Pedro   pedro@example.com   44
 4   5   María   maria@example.com   19,
 'jsonl':      name  height  weight
 0     Ana     165      55
 1  Carlos     178      80
 2   Lucía     160      48
 3   Pedro     175      90
 4   María     158      50,
 'combined_csv':     product   price  stock   id    name               email   age
 0    Laptop  1200.0   10.0  NaN     NaN                 NaN   NaN
 1     Mouse    25.0  200.0  NaN     NaN                 NaN   NaN
 2  Keyboard    75.0  150.0  NaN     NaN                 NaN   NaN
 3       NaN     NaN    NaN  1.0     Ana     ana@example.com  23.0
 4       NaN     NaN    NaN  2.0  Carlos  carlos@example.com  31.0
 5       NaN     NaN    NaN  3.0   Lucía   lucia@example.com  27.0
 6       NaN     NaN    NaN  4.0   Pedro   pedro@example.com  44.0
 7       NaN     NaN    NaN  5.0   María   maria@example.com  19.0,
 'api_users':    id firstName  lastName maidenName  age  gender  \
 0   1     Emily   Johnson      Smith   29  female
 1   2   Michael  Williams              36    male
 2   3    Sophia     Brown              43  female
 3   4     James     Davis              46    male
 4   5      Emma    Miller    Johnson   31  female

                               email             phone  username      password  \
 0     emily.johnson@x.dummyjson.com  +81 965-431-3024    emilys    emilyspass
 1  michael.williams@x.dummyjson.com  +49 258-627-6644  michaelw  michaelwpass
 2      sophia.brown@x.dummyjson.com  +81 210-652-2785   sophiab   sophiabpass
 3       james.davis@x.dummyjson.com  +49 614-958-9364    jamesd    jamesdpass
 4       emma.miller@x.dummyjson.com  +91 759-776-1614     emmaj     emmajpass

    ...                                            address         macAddress  \
 0  ...  {'address': '626 Main Street', 'city': 'Phoeni...  47:fa:41:18:ec:eb
 1  ...  {'address': '385 Fifth Street', 'city': 'Houst...  79:15:78:99:60:aa
 2  ...  {'address': '1642 Ninth Street', 'city': 'Wash...  12:a3:d3:6f:5c:5b
 3  ...  {'address': '238 Jefferson Street', 'city': 'S...  10:7d:df:1f:97:58
 4  ...  {'address': '607 Fourth Street', 'city': 'Jack...  32:b9:7e:8d:f5:e8

                           university  \
 0   University of Wisconsin--Madison
 1              Ohio State University
 2              Pepperdine University
 3  University of Southern California
 4            Northeastern University

                                                 bank  \
 0  {'cardExpire': '05/28', 'cardNumber': '3693233...
 1  {'cardExpire': '01/30', 'cardNumber': '3530633...
 2  {'cardExpire': '10/27', 'cardNumber': '6011212...
 3  {'cardExpire': '07/30', 'cardNumber': '5303440...
 4  {'cardExpire': '07/30', 'cardNumber': '5237188...

                                              company      ein          ssn  \
 0  {'department': 'Engineering', 'name': 'Dooley,...  977-175  900-590-289
 1  {'department': 'Support', 'name': 'Spinka - Di...  912-602  108-953-962
 2  {'department': 'Research and Development', 'na...  963-113  638-461-822
 3  {'department': 'Support', 'name': 'Pagac and S...  904-810  116-951-314
 4  {'department': 'Human Resources', 'name': 'Gra...  403-505  526-210-885

                                            userAgent  \
 0  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...
 1  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
 2  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
 3  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...
 4  Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:9...

                                               crypto   role
 0  {'coin': 'Bitcoin', 'wallet': '0xb9fc2fe63b2a6...  admin
 1  {'coin': 'Bitcoin', 'wallet': '0xb9fc2fe63b2a6...  admin
 2  {'coin': 'Bitcoin', 'wallet': '0xb9fc2fe63b2a6...  admin
 3  {'coin': 'Bitcoin', 'wallet': '0xb9fc2fe63b2a6...  admin
 4  {'coin': 'Bitcoin', 'wallet': '0xb9fc2fe63b2a6...  admin

 [5 rows x 28 columns]}

In [ ]:
extracted_data.keys()

dict_keys(['csv', 'json', 'jsonl', 'combined_csv', 'api_users'])

In [ ]:
for key, df in extracted_data.items():
    print(key, df.shape)

csv (5, 4)
json (5, 4)
jsonl (5, 3)
combined_csv (8, 7)
api_users (5, 28)